header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 800px;
    position: static;
}
.team-womazing{
    display: flex;
}
.left-card{
    width: 65%;
}
.right-card{
    width: 45%;
    text-align: center;
    align-content: center;
}
.img-aboutus{
    height: 547px;
    width: 480px;
}
.team-womazing-reverse{
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
}
.margin-left{
    margin-left: 200px;
}
.btn-flex{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.store-btn-about{
    background-color: #6E9C9F;
    width: 260px;
    height: 68px;
    color: white;
    border: none;
}
@media only screen and (max-width: 550px){
    .team-womazing{
        flex-direction: column;
        align-items: center;

    }
    .team-womazing-reverse{
        flex-direction: column;
        align-items: center;
    }
    .left-card{
        margin-left: 0px;
    }
    .img-aboutus{
        width: unset;
    }
}