header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 800px;
    position: static;
}
.btn-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.filter-btn{
    background-color: white;
    font-size: 15px;
    width: 162px;
    height: 62px;
}
.picked-btn{
    background-color: black;
    color: white;
}
.products{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 150px;
}
.card{
    width: 350px;
    height: 558px;
}
.card-img{
    width: 350px;
    height: 550px;
}
.pages-flex{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 15px;
}
.pages-btn{
    height: 41px;
    width: 41px;
    background-color: white;
}
.picked-page{
    background-color: black;
    color: white;
}
@media only screen and (max-width: 700px){
    .products{
        flex-direction: column;
        align-items: center;
        gap: 120px;
    }
}